/* You can add global styles to this file, and also import other style files */
* { margin: 0; padding: 0; }
html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Muli', sans-serif;
}

.row {
    width: 80%;
    margin: 0 auto;
}

/*
* shared components
*/
.header-main {
    width: 100%;
    text-align: center;
    color: #aad2e0;
    background-color: #00749E;
}

.header-main h1 {
    padding: 1rem;
}

.header-menu {
    width: 100%;
    padding: .5rem 0;
    background-color: #046c8e;
    list-style: none;
}

.header-menu li {
    display: inline;
    padding: 1rem 2rem;
}

.header-menu li a {
    font-size: .85rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #aad2e0;
}

.header-menu li a.active { color: white; }

.title-page {
    float: left;
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.btn-new {
    float: right;
    margin: 2rem 0;
    padding: .5rem .5rem;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #009CA0;
    border: none;
    border-radius: 3px;
    
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead tr {
    border-bottom: 2px solid #f2f2f2;
    color: #4a636b;
    font-weight: 900;
    font-size: .7rem;
    text-transform: uppercase;
}

.table tbody tr:nth-child(odd) {
    background: #fafafa;
}

.table tbody td {
    padding: .5rem 0;
    text-align: center;
    font-size: .75rem;
    color: #777;
}

.table tbody td span {
    display: block;
}

.nav-form {
    display: inline-block;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: .5rem;
    background-color: #fafafa;
    list-style: none;
    border-radius: 21px;
}

.nav-form li {
    float: left;
    width: 50%;
    padding: .8rem 0;
    text-align: center;
    color: #4a636b;
    font-weight: 900;
    font-size: .7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-form li.active { 
    background-color: white; 
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    border-radius: 21px;
}


.form {
    width: 100%;
}

.form label {
    display: block;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 900;
    color: #4a636b;
}

.checkbox {
    float: left;
    padding: 0;
    margin: 1rem 1rem 0 0;
}

.form input[type="text"] {
    width: 100%;
    height: 30px;
    text-indent: .8rem;
    margin-bottom: 1rem;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
}

.form input[type="submit"] {
    float: right;
    width: 120px;
    height: 30px;
    margin-top: 100px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #009CA0;
    border: none;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.form input[type="submit"]:hover { box-shadow: 0 3px 12px rgba(0,0,0,0.3); }

.card {
    padding: .8rem 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.card h5 {
    padding: .5rem;
    color: #666;
    font-weight: 600;
    font-size: .9rem;
}

.card span {
    padding: .5rem;
    font-weight: normal;
    font-size: .75rem;
    color: #777;
}

/**
* 
*/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
