<h4 class="title-page">Dashboard</h4>

<section class="dashboard-container">

  <div class="dashboard-column">
    <div class="dashboard-column--header">
      <h4>Agendado</h4>
    </div>
    <ul class="dashboard-column--list" [dragula]='"bag-one"' [dragulaModel]='scheduled'>
      <li class="card">
        <h5>Jose Silva</h5>
        <span>08:00 - 08:30</span>
      </li>
      <li class="card">
        <h5>Antonio Carlos</h5>
        <span>08:00 - 08:30</span>
      </li>
    </ul>
  </div>

  <div class="dashboard-column">
    <div class="dashboard-column--header">
      <h4>Confirmado</h4>
    </div>
    <ul class="dashboard-column--list" [dragula]='"bag-one"' [dragulaModel]='confirmed'>
      <li class="card">
        <h5>Fred Jairo</h5>
        <span>08:00 - 08:30</span>
      </li>
      <li class="card">
        <h5>Tomas Roberto</h5>
        <span>08:00 - 08:30</span>
      </li>
    </ul>
  </div>

  <div class="dashboard-column">
    <div class="dashboard-column--header">
      <h4>Presente</h4>
    </div>
    <ul class="dashboard-column--list" [dragula]='"bag-one"' [dragulaModel]='being'>
      <li class="card">
        <h5>Carlos Antonio</h5>
        <span>08:00 - 08:30</span>
      </li>
      <li class="card">
        <h5>Karoline Dantas</h5>
        <span>08:00 - 08:30</span>
      </li>
    </ul>
  </div>

  <div class="dashboard-column">
    <div class="dashboard-column--header">
      <h4>Em atendimento</h4>
    </div>
    <ul class="dashboard-column--list" [dragula]='"bag-one"' [dragulaModel]='inAttendance'>
      <li class="card">
        <h5>Roberta Pedrosa</h5>
        <span>08:00 - 08:30</span>
      </li>
      <li class="card">
        <h5>Carla Beatriz</h5>
        <span>08:00 - 08:30</span>
      </li>
    </ul>
  </div>
  
</section>
